@import '../base/_vars.scss';
@import '../mixins/_breakpoints.scss';

.image-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .item {
    min-width: 33%;
    min-height: 265px;

    padding: 20px 40px;

    background-color: #1d1a17;

    box-shadow: -4px -4px 12px 1px black;

    &:nth-child(1),
    &:nth-child(4) {
      background-color: $dune;
    }

    &:hover:not(:nth-child(1)):not(:nth-child(4)) {
      .item__image {
        background-size: 110%;
      }
    }

    &:nth-child(1) {
      .item__image {
        background-size: 130%;
      }
    }

    @include breakpoint-tablet {
      min-width: 50%;
      min-height: 230px;

      &:nth-child(1),
      &:nth-child(4) {
        display: none;
      }

      &:nth-child(1) {
        .item__image {
          background-size: inherit;
        }
      }
      &:hover:nth-child(1),
      &:hover:nth-child(4) {
        .item__image {
          background-size: 110%;
        }
      }
    }

    &__image {
      display: block;

      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;

      transition: background-size 0.5s ease;
    }
  }
}
