$defaultFont: 'Cormorant Garamond', serif;
$secondaryFont: 'PT Sans', Arial, sans-serif;

$mediumWidth: 959px;
$smallWidth: 599px;

$white: rgba(255, 255, 255, 1);
$mercuryLight: rgba(231, 231, 231, 0.6);
$mercury: rgba(231, 231, 231, 1);
$dune: rgb(34, 32, 29);
$duneLight: rgba(34, 32, 29, 0.8);

$defaultTiming: 0.5s;
$defaultEasing: cubic-bezier(0.25, 0.1, 0.25, 1);
